---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import HeroBigGrid from '~/components/ui/HeroBigGrid.astro';
//import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Brands from '~/components/widgets/Brands.astro';
import Stats from '~/components/widgets/Stats.astro';

const metadata = {
  title: 'SRE - Stark Real State',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
  id="hero">
    <Fragment slot="title">
      <span class="text-white highlight ">Stark Real Estate</span>
      <span class="hidden xl:inline"></span>
    </Fragment>

    <Fragment slot="subtitle">
      <span>
        <span class="font-semibold text-white">"Transformando inversiones, conectando clientes."</span>
      </span>
    </Fragment>
  </Hero>

  <!-- Features Widget *************** -->

  <!--<Features
    id="features"
    tagline="Proyecto"
    title="Patagonian Insular"
    subtitle='"El sueño de vivir en paz hecho realidad"'
    items={[
      {
        title: 'Astro + Tailwind CSS Integration',
        description:
          'A seamless integration between two great frameworks that offer high productivity, performance and versatility.',
        icon: 'tabler:tree',
      },
      {
        title: 'Ready-to-use Components',
        description:
          'Widgets made with Tailwind CSS ready to be used in Marketing Websites, SaaS, Blogs, Personal Profiles, Small Business...',
        icon: 'tabler:components',
      },
      {
        title: 'Best Practices',
        description:
          'Creating secure, efficient, and user-friendly websites that deliver exceptional experiences and lasting value.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Excellent Page Speed',
        description:
          'Having a good page speed impacts organic search ranking, improves user experience (UI/UX) and increase conversion rates.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Search Engine Optimization (SEO)',
        description:
          "SEO lies in its ability to enhance a website's visibility, driving organic traffic and enabling it to reach a wider audience.",
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Open to new ideas and contributions',
        description:
          'Embracing a culture that is open to new ideas and contributions is integral fostering innovation, collaboration, and a dynamic user experience.',
        icon: 'tabler:bulb',
      },
    ]}
  />-->

  <!-- Content Widget **************** -->

  <Content
    isReversed
    id="content"
    tagline="Proyecto"
    title="Patagonia Insular"
    subtitle='"El sueño de vivir en paz hecho realidad"'
    items={[
      {
        title: 'Exclusivo, Moderno, Sustentable, Pensado para toda la familia',
        description:
          'Patagonia Insular se realiza en la hermosa isla de Chiloé, una isla de ensueños, mágica, mitos y leyendas.',
      },
      {
        title: 'Baja Densidad de Construcción',
        description:
          'En todas sus etapas se respeta el entorno y la arquitectura tradicional de Chiloé. Casas emplazadas en sitios de 5.000 metros cuadrados.',
      },
      {
        title: 'Zona Privilegiada',
        description:
          'Tanto por su gastronomía y su ubicación geográfica, por encontrarse a un costado del Parque Nacional de Chiloé, un lugar de exuberante vegetación, flora y fauna.',
      },
    ]}
    image={{
      src: 'https://neighbourspa-176512119.imgix.net/proyecto_img1.webp',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Invertir También es Preservar</h3>
      El proyecto tiene como objetivo desarrollar un complejo inmobiliario que respete el entorno y mantenga el magnífico bosque que lo acoge.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <!--Content
    isAfterContent
    items={[
      {
        title: 'High level of customization',
        description: `Tailor the template effortlessly to match your brand's identity and requirements, making your website distinct and saving you time.`,
      },
      {
        title: 'Multiple layout possibilities',
        description:
          'Explore various layout options to find the structure that best presents your content, enhancing user engagement and navigation.',
      },
      {
        title: 'Fully responsive design',
        description:
          "Ensure your website's optimal performance on various devices and screen sizes, providing a consistent and enjoyable user experience.",
      },
      {
        title: 'Integration of media',
        description:
          'Seamlessly incorporate images, videos, and multimedia elements that enhance your content and engage visitors effectively.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">Ensure your online presence truly represents you.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content-->

  <!-- Content Widget **************** -->

  <!--Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Enhanced user engagement',
        description:
          'Captivate your audience with interactive elements, intuitive navigation, and visually appealing layouts, encouraging longer visits.',
      },
      {
        title: 'Continuous improvement',
        description:
          'Ensure your website stays aligned with the latest trends and technologies through regular updates and enhancements.',
      },
      {
        title: 'Time and resource efficiency',
        description:
          'Skip the time-consuming process of building a website from scratch and launch your online presence sooner with AstroWind.',
      },
      {
        title: 'Community support',
        description: `Join the growing AstroWind community for insights, resources, and assistance, ensuring you're never alone on your web development journey.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">Designed to foster growth and success.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content-->

  <!-- Note Widget ******************* -->

    <Note />

  <!-- Steps Widget ****************** -->

  <Steps
    title="¿Cómo llegar?"
    id="steps"
    items={[
      {
        title: 'Comienzo del viaje: <span class="font-medium">Santiago a Puerto Montt</span>',
        description:
          "El vuelo de Santiago a Puerto Montt dura alrededor de 1 hora y 45 minutos, dependiendo del clima.",
        icon: 'tabler:plane',
      },
      {
        title: 'Segunda etapa: <span class="font-medium">Cruzando hacia la Isla Grande de Chiloé</em>',
        description:
          "Desde Puerto Montt, viajamos 60 km por carretera hasta Pargua, donde tomamos el ferry para cruzar el canal del Chacao hacia la Isla Grande de Chiloé.",
        icon: 'tabler:car',
      },
      {
        title: 'Fin del Cruce: <span class="font-medium">Horarios y Duración</span>',
        description:
          'El cruce opera de 7:00 a 23:30, con una frecuencia de 15 a 20 minutos. El trayecto dura unos 30 minutos.',
        icon: 'tabler:speedboat',
      },
      {
        title: 'Patagonia Insular!',
        icon: 'tabler:map-pin',
      },
    ]}
    image={{
      src: '',
      alt: '',
    }}
  />

  <!-- HighlightedPosts Widget ******* -->

  <!--BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  /-->

  <!-- FAQs Widget ******************* -->

  <!--FAQs
    title="Ubicación"
    id="Ubicacion"
    subtitle="Dive into the following questions to gain insights."
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why AstroWind?',
        description:
          "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
      },
      {
        title: 'What do I need to start?',
        description:
          'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
      },
      {
        title: 'How to install the Astro + Tailwind CSS template?',
        description:
          "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.",
      },
      {
        title: "What's something that you don't understand?",
        description:
          "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
      },
      {
        title: 'What is something that you would like to try again?',
        description:
          "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
      },
      {
        title: 'If you could only ask one question to each person you meet, what would that question be?',
        description:
          "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
      },
    ]}
  /-->
  <FAQs
    title="Ubicación"
    id="Ubicacion"
    subtitle=""
    classes={{ container: 'max-w-6xl' }}
  />

    <!-- Stats Widget ****************** -->

    <Stats
    stats={[
      { title: 'Emisiones Mundiales CO2', amount: '2.000' },
      { title: 'Dioxido de Cabono', amount: '36.300M' },
    ]}
    />

  <!-- HeroBigGrid Widget ******************* -->
  
   <HeroBigGrid id="galeria" />
   
  <!-- Features2 Widget ************** -->

  <Features2
  id="Inversiones1"
  title="Inversiones"
  subtitle=""
  tagline="Transformando Espacios y Experiencias"
  items={[
    {
      title: 'Necesitas un bajo capital de inversión',
      description: "Para invertir en un departamento, solo necesitas el pie, que puede pagarse al contado, en cuotas con cheques, o con Tarjeta de Crédito sin interés.",
      icon: 'flat-color-icons:template',
      downloadLink: 'ruta/al/archivo1.pdf'
    },
    {
      title: 'Inversión segura y estable',
      description:
        "La rentabilidad y plusvalía son clave, por eso nuestros proyectos están cerca de metro, autopistas y servicios, aumentando la demanda de arriendo.",
      icon: 'flat-color-icons:gallery',
      downloadLink: 'ruta/al/archivo2.pdf'
    },
    {
      title: 'Aumentas tu patrimonio y mejoras tu jubilación',
      description:
        'El mercado inmobiliario es una inversión rentable y segura frente a la volatilidad de otros instrumentos financieros.',
      icon: 'flat-color-icons:approval',
      downloadLink: 'ruta/al/archivo3.pdf'
    },
  ]}
>
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Features2>


  <Brands
  id="Inversiones2"
  title="Partners"
  subtitle=""
  tagline="Aliados en Excelencia y Sostenibilidad"
  icons={[]}
  images={[
    {
      src: 'https://neighbourspa-176512119.imgix.net/logo-Arenas.png',
      alt: 'Grupo Arenas',
    },
    {
      src: 'https://neighbourspa-176512119.imgix.net/logo-patagonian.webp',
      alt: 'Patagonia Insular',
    },
    {
      src: 'https://neighbourspa-176512119.imgix.net/logo-pilares-175x50-c-center.webp',
      alt: 'Pilares',
    },

    {
      src: 'https://neighbourspa-176512119.imgix.net/logo-Vial-copia-150x50-1.webp',
      alt: 'Vial Siglo XXII',
    },
    {
      src: 'https://neighbourspa-176512119.imgix.net/Socovesa.webp',
      alt: 'Socovesa',
    },
    {
      src: 'https://neighbourspa-176512119.imgix.net/Logo_Neighbour-removebg-preview.png',
      alt: 'Neighbour SpA',
    }
  ]}
/>


  <!-- CallToAction Widget *********** -->

  <!--CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get template',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      Astro&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Tailwind CSS</span>
    </Fragment>

    <Fragment slot="subtitle">
      Be very surprised by these huge fake numbers you are seeing on this page. <br class="hidden md:inline" />Don't
      waste more time! :P
    </Fragment>
  </CallToAction-->
</Layout>
