---
//import { SITE } from 'astrowind:config';
---

<span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
  <img src="https://realestate.neighbour.cl/media/logo_SRE.webp" alt="Stark Real Estate Logo" class="inline-block h-20 w-20 rounded-full overflow-hidden mr-2">
  <!-- Oculta el texto en dispositivos móviles -->
  <span class="hidden md:inline"><!--{SITE?.name}--></span>
</span>
