<!-- HTML -->
<section class="text-gray-600 body-font relative" id='galeria'>
    <div class="absolute inset-0 bg-fixed bg-center bg-cover" style="background-image: url('https://realestate.neighbour.cl/media/bg_HeroBig_Grid.webp');"></div>
    <div class="container px-5 py-24 mx-auto relative z-10">
      <div class="flex flex-col text-center w-full mb-20">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-white">Isla Grande de Chiloé</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base text-white ">Conoce el encanto y la historia que nos rodea.</p>
      </div>
      <div class="flex flex-wrap -m-4">
        <div class="lg:w-1/3 sm:w-1/2 p-4">
          <div class="flex relative">
            <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="https://realestate.neighbour.cl/media/galeria/MUELLE.webp">
            <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
              <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">Un Refugio Tranquilo en la Naturaleza</h2>
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Muelle de Chiloé: Encanto de la Isla</h1>
              <p class="leading-relaxed">El muelle de Chiloé, rodeado de aguas cristalinas y exuberante vegetación, es un refugio tranquilo donde la tradición se encuentra con la naturaleza. Un lugar perfecto para disfrutar de la serenidad y la belleza de la isla.</p>
            </div>
          </div>
        </div>
        <div class="lg:w-1/3 sm:w-1/2 p-4">
          <div class="flex relative">
            <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="https://realestate.neighbour.cl/media/galeria/PARQUE.webp">
            <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
              <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">Un Portal a la Tranquilidad</h2>
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Bienvenidos a la Naturaleza</h1>
              <p class="leading-relaxed">La entrada de este parque, con sus frondosos árboles y caminos bien cuidados, invita a explorar y disfrutar de la naturaleza. Un lugar donde la serenidad y la belleza del entorno ofrecen un escape perfecto del bullicio de la vida cotidiana.</p>
            </div>
          </div>
        </div>
        <div class="lg:w-1/3 sm:w-1/2 p-4">
          <div class="flex relative">
            <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="https://realestate.neighbour.cl/media/galeria/PLAYA.webp">
            <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
              <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">Un Refugio de Sol y Mar</h2>
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Playa Paradisíaca</h1>
              <p class="leading-relaxed">La playa, con su arena dorada y aguas cristalinas, es un paraíso de tranquilidad y belleza natural. Un destino perfecto para relajarse bajo el sol, disfrutar del sonido de las olas y sumergirse en un ambiente de pura serenidad.</p>
            </div>
          </div>
        </div>
        <div class="lg:w-1/3 sm:w-1/2 p-4">
          <div class="flex relative">
            <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="https://realestate.neighbour.cl/media/galeria/RIO.webp">
            <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
              <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">Un Remanso de Paz Natural</h2>
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Río Tranquilo</h1>
              <p class="leading-relaxed">El río, con sus aguas claras y su entorno verde, es un remanso de paz y serenidad. Fluyendo suavemente a través del paisaje, ofrece un refugio perfecto para disfrutar de la naturaleza y desconectar del bullicio de la vida cotidiana.</p>
            </div>
          </div>
        </div>
        <div class="lg:w-1/3 sm:w-1/2 p-4">
          <div class="flex relative">
            <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="https://realestate.neighbour.cl/media/galeria/RIOPARQUE.webp">
            <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
              <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">Un Remanso de Serenidad Natural</h2>
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Muelle en el Corazón del Parque</h1>
              <p class="leading-relaxed">Este muelle en el tranquilo río del parque es un refugio perfecto para relajarse. Rodeado de árboles, aves y el suave murmullo del agua, ofrece un ambiente apacible y sereno para disfrutar de la naturaleza.</p>
              <br>
            </div>
          </div>
        </div>
        <div class="lg:w-1/3 sm:w-1/2 p-4">
          <div class="flex relative">
            <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="https://realestate.neighbour.cl/media/galeria/TERRENOS.webp">
            <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
              <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">Vive Junto al Mar en Chiloé</h2>
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Descubre un Paraíso en Chiloé</h1>
              <p class="leading-relaxed">Terreno exclusivo en Chiloé con acceso privado a la playa y vistas al mar. Ideal para construir tu refugio frente al mar o desarrollar un proyecto vacacional único en un entorno natural incomparable</p>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  