---
import type { ItemGrid as Props } from '~/types';
import { Icon } from 'astro-icon/components';
import { twMerge } from 'tailwind-merge';
import Button from './Button.astro';

const { items = [], columns, defaultIcon = '', classes = {} } = Astro.props;

const {
  container: containerClass = '',
  panel: panelClass = '',
  title: titleClass = '',
  description: descriptionClass = '',
  icon: defaultIconClass = 'text-primary',
} = classes;
---

{
  items && (
    <div
      class={twMerge(
        `grid gap-8 gap-x-12 sm:gap-y-8 ${
          columns === 4
            ? 'lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2'
            : columns === 3
              ? 'lg:grid-cols-3 sm:grid-cols-2'
              : columns === 2
                ? 'sm:grid-cols-2 '
                : ''
        }`,
        containerClass
      )}
    >
      {items.map(({ title, description, icon, callToAction, downloadLink, classes: itemClasses = {} }) => (
        <div class={twMerge('relative flex flex-col justify-between', panelClass, itemClasses?.panel)}>
          <div>
            {(icon || defaultIcon) && (
              <Icon name={icon || defaultIcon} class={twMerge('mb-2 w-10 h-10', defaultIconClass, itemClasses?.icon)} />
            )}
            <div class={twMerge('text-xl font-bold', titleClass, itemClasses?.title)}>{title}</div>
            {description && (
              <p class={twMerge('text-muted mt-2', descriptionClass, itemClasses?.description)} set:html={description} />
            )}
          </div>
          <div>
            {callToAction && (
              <div class="mt-2">
                <Button {...callToAction} />
              </div>
            )}
            {downloadLink && (
              <div class="mt-2">
                <Button text="Click para descargar" href={downloadLink} download />
              </div>
            )}
          </div>
        </div>
      ))}
    </div>
  )
}
